<div class="container mt-5">

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a>
                    <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/1/6/79bdeeef-e765-4c10-b448-c0cdc6a750441641451577668-Extra_15--13-.jpg"
                        class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a  [routerLink]="['/westernWear']">
                    <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/1/4/7e2288fc-e095-4403-9bc1-bc5ee2c117ef1641311663301-Western-Wear.jpg"
                        class="card-img-top" alt="...">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/1/5/fe67bb67-6c15-45b7-a52b-404cdda8fff81641389471998-Gadgets.jpg"
                    class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>