
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img
      src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Myntra_Logo_1200x800.jpg?itok=nqk8933k"
      alt="" width="50" height="40">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link navLink" href="#">Men</a>
        <a class="nav-link navLink" href="#">Women</a>
        <a class="nav-link navLink" href="#">Kids</a>
      </div>
    </div>
    <div>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div style="display: flex; font-size: 25px; margin-left: 10px;">
      <i class="fas fa-user fa-fw"></i>
      <i class="fas fa-shopping-cart fa-fw"></i>
    </div>
