<div class="container m-5">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a>
                            <img  src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/1700871/2020/1/22/f932ae44-0fb8-4b92-b7bc-f1756253294b1579692118186-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-1.jpg"
                            class=" img-fluid" alt="...">
                        </a>
                        <strong>HRX by Hritik Roshan</strong>
                        <span>Printed Tshirt</span>
                        <b>Rs. 300</b>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a>
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/1700871/2020/1/22/f932ae44-0fb8-4b92-b7bc-f1756253294b1579692118186-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-1.jpg"
                                class=" img-fluid" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a>
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/1700871/2020/1/22/f932ae44-0fb8-4b92-b7bc-f1756253294b1579692118186-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-1.jpg"
                                class=" img-fluid" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 12rem;">
                        <a>
                            <img src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/1700871/2020/1/22/f932ae44-0fb8-4b92-b7bc-f1756253294b1579692118186-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-1.jpg"
                                class=" img-fluid" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
